/* font face for locally hosted fonts */
@font-face {
    font-family: 'Roboto-Italics';
    src: url('/assets/fonts/Roboto-Italic.woff2') format('woff2'),
        url('/assets/fonts/Roboto-Italic.woff') format('woff'),
        url('/assets/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/assets/fonts/Roboto-Regular.woff') format('woff'),
        url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/assets/fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('/assets/fonts/BebasNeue-Regular.woff') format('woff'),
        url('/assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('/assets/fonts/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

:root {
    --global-color-primary: #D3E97A;
    --global-color-header-black: #0A0A0A;
    --global-color-sub-header-black: #484848;
    --global-color-background-white: #ffff;

    --global-header-font-size: calc(2rem + 5vw);

    --global-p-font-size: calc(1rem+5vw);

    box-sizing: border-box;

    font-family: 'Roboto';
    background-color: var(--color-background-white);
}

header{
    width: 100%;
}
button {
    all: unset;
    background-color: var(--color-background-white);
    border-color: var(--color-background-white);
    outline-color: var(--color-background-white);
    color: var(--color-sub-header-black);
    font-size: calc(0.5rem + 1vw);
}
h1, h2, h3, h4, h5, h6,p {
    margin: 0;
}
h1{
    font-size: var(--global-header-font-size);
}
p{
    font-size: var(--global-p-font-size);
}
a {
    all: unset;
    color: var(--color-sub-header-black);
    cursor: pointer;
}
select {
    border: none;
    background-color: var(--color-background-white);
    text-align: center;
    cursor: pointer;
    color: var(--color-sub-header-black);
    font-size: calc(0.5rem + 1vw);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
img {
    background-size: contain;
    object-fit: cover;
    background-position: center
}
#work, #skills, #projects, #about-me, #connect{
    align-items: start;
    justify-items: start;
}

h1.welcome {
    font-family: 'Bebas Neue';
    line-height: 80%;
    font-weight: 500;
    max-width: 355px;
    margin: 0;
}
p.intro-text {
    font-family: 'Manrope';
    max-width: 355px;
    margin: 15px 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
.sub-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    padding: 5rem 2%;
    border-bottom: #0A0A0A 0.1rem solid;
}
.navbar {
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin: 0 0.5rem;
    padding: 24px 0px;
}
.navbar-text {
    font-family: 'Bebas Neue';
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    color: var(--color-sub-header-black);
}
.navbar-buttons{
    display: flex;
    gap: 2rem;
}
.dropdown {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 20px;
    float: left;
    overflow: hidden;
    margin: 0;
    margin: 0 auto;
    overflow: hidden;
    gap: 5px;
    color: var(--color-sub-header-black);
    cursor: pointer;
    align-items: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 10rem;
    z-index: 1;
    color: var(--color-header-black);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.h-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-pill {
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    gap: 12px;
    border-radius: 100px;
    padding: 16px 24px;
    color: var(--global-color-header-black);
    background-color: var(--global-color-primary);
}
.btn-pill p {
    all: unset
}
.sub-title > p:nth-child(2) {
    color: #D3E97A;
}
.job-descr {
    color: #484848;
}
.sub-title > h3 {
    color: #0A0A0A;
}
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 0.8rem;
    
}
.project-descr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1A1A1A;
    padding: 1rem 0;
    text-transform:uppercase
}
.live-demo, .github {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    border-bottom: 1px var(--global-color-primary) solid;
}
.project-links {
    display: flex;
    gap: 1rem;
    color: var(--global-color-primary);
}
.skill {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 6.25rem;
    border: 1px solid #000;
}
.section-header{
    font-family: 'Bebas Neue';
    font-weight: 500;
    font-size: 4.75rem;
}
h3.job-title {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 1.5rem;   
}
.right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.job-right{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    font-family: 'Manrope';
}
.socials-buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
button.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    background-color: #222;
}

